$primary: #213F7D;
$secondary: #545F7D;
$text-color: #545f7d;

.EducationContainer{
    // border: 2px solid red;
    margin: 1rem;
    border-bottom: 2px solid grey;
    h3{
        color: $primary;
    }
    h5{
        color: $secondary;
    }
    h4{
        color: $text-color;
    }
}

.EducationWrapper{
    display: flex;
    // align-items: center;
    // justify-content: space-between;
    flex-wrap: wrap;
    gap: 5rem;
    margin-bottom: -5px;
}
.edu{
    padding-bottom: -10px;
}