.Dash-Container{
    max-width: 1450px;
    margin: 0 auto;
}
.Dashboard{
    border: 2px solid red;
    display: flex;
    gap: 1rem;
    margin-top: .2rem;
    
}
.Sidebar{
    // border: 2px solid blue;
    background-color: white;
    width: 300px;
    max-width: 1450px;
    padding-left: 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}