.SidebarList{
    // border: 2px solid red;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: -20px;
    margin-bottom: -20px;
    
    h5{
        color: #213F7D;
        
    }
}