$primary: #213F7D;
$secondary: #545F7D;
$text-color: #545F7D;

.User-Wrapper{
    // border: 2px solid red;
    width: 75vw;
    // margin-top: 1rem;
    background-color: #E5E5E5;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1rem;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;

    h2{
        font-size: 24px;
        color: $primary;
        font-weight: 500;
        line-height: 28.15px;
        padding-top: 1rem;
    }
}

.User{
    // border: 2px solid green;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.User-Activity{
    // border: 2px solid yellow;
    margin-top: 1rem;
    background-color: white;
    padding-left: 10px;
}

.Headline-Wrapper{
    display: flex;
    align-items: center;
    // border: 2px solid red;
    gap: 1rem;
    // width: 70%
}

.Headline{
    display: flex;
    // border: 2px solid blue;
    
}
.ORGANIZATION{
    // border: 2px solid red;
    width: 140px;
    color: $text-color;
    font-weight: 800;
}
.USERNAME{
    // border: 2px solid blue;
    // padding-right: 10px;
    width: 110px;
    color: $text-color;
}
.EMAIL{
    // border: 2px solid salmon;
    width: 180px;
    color: $text-color;
}
.PHONE_NUMBER{
    // border: 4px solid green;
    width: 140px;
    color: $text-color;
}
.DATE_JOINED{
    // border: 2px solid red;
    width: 170px;
    color: $text-color;
}
.STATUS{
    // border: 2px solid black;
    width: 60px;
    color: $text-color;
}
.follower{
    padding: 1rem;
}