.LoginWrapper{
    // border: 2px solid red;
    width: 100%;
    height: 90%;
    
}

.LoginContainer{
    // border: 2px solid blue;
    max-width: 95vw;
    margin: 0 auto;
    // margin-top: 4rem;
    // margin-bottom: 5rem;
    display: flex;
    align-items: center;
    // justify-content: space-between;
    height: 100vh;
}
.Left-Wrapper{
    // border: 2px solid orange;
    width: 50%;
    margin-left: 4rem;
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
    height: 100%;
    // box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
.HeroImageCont{
    margin-top: 5rem;
}
.Right-Wrapper{
    // border: 2px solid red;
    width: 100%;
    height: 90%;
}
.Right-Container{
    margin: 5rem;
    margin-top: 7rem;
    h2{
        color: #213F7D;
        font-weight: 700;
        font-size: 40px;
        line-height: 54.64px;
    }
    h4{
        color: #545F7D;
        font-weight: 400;
        font-size: 20px;
        line-height: 27.32px;
    }
    h6{
        color: #39CDCC;
        font-size: 12px;
        line-height: 16.39px;
    }
    button{
        background-color: #39CDCC;
        font-size: 14px;
        line-height: 19.12px;
        color: white;
        width: 50%;
        padding-top: 10px;
        padding-bottom: 10px;
        border: none;
        border-radius: 5px;
    }
}
.Input-holder{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .input1{
        text-indent: 5px;
        width: 50%;
        padding: 5px;
        border-radius: 2px;
        border: 2px solid #545F7D;
        ::placeholder{
            color: #545F7D;
        }
        input:focus, textarea:focus, select:focus{
        outline: none;
    }
    }
}
.Input2{
    width: 50%;
    border: 2px solid #545F7D;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 35px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 2px;
    input{
        border-style: none;
    }
    h5{
        color: #39CDCC;
    }
}

.Right-Container h6{
    
}

.Right-Container button{
    
}

// #213F7D
// #545F7D
// #39CDCC