$background: #E5E5E5;
$primary: #213F7D;
$secondary: #545F7D;
$text-color: #545f7d;

.UserDetailContainer{
    border: 2px solid red;
    background-color: $background;
    width: 80vw;
    height: 100%;  
    
}

.User-Wrapper{
    border: 2px solid blue;
    margin: 0 auto;
    width: 90%;
    margin-top: 1rem;
}

.BackToUsers{
    display: flex;
    align-items: center;
    gap: 5px;
    img{
        color: red;
    }
}

.Detail-Btn-Container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    // gap: 10rem;
    h3{
        color: #213F7D;
        border-right: 2px solid red;
    }
}
.Btn-Container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    
}

.btn1{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
    border: 2px solid red;
    border-radius: 5px;
    color: red;
}

.btn2{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
    border: 2px solid $primary;
    border-radius: 5px;
    color: $text-color;
}

.BalanceDetail{
    // border: 2px solid red;
    width: 100%;
    height: 190px;
    background-color: white;
    // padding-bottom: 1rem;
}
.BalanceFlex{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1.5rem;
    padding-top: 1rem;
    h3{
        color: $primary;
    }
    h4{
        color: $text-color;
    }
}
.Ava{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.Detail-Map{
    // border: 2px solid blue;
    display: flex;
    align-items: center;
    gap: 4rem;
    margin-left: 2.5rem;
    h4{
        color: $secondary;
    }
}

.FulPageDetails{
    border: 2px solid blue;
    width: 100%;
    margin-top: 1rem;
    height: 100vh;
    background-color: white;
}

.Detail{
    border: 2px solid coral;
    width: 100%;
    margin: 0 auto;
    // margin: 1rem;
}